/* ########## Defaults ########### */

nav,
header,
footer {
  display: block;
}

body {
  line-height: 1.5;
  margin: 0;
}

/* ######### Navigation Bar ######## */

nav {
  width: 100%;
  margin: 0;
}

nav ul {
  background-color: #eee;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* the list-style re */
nav ul li {
  list-style: none;

}
