body {
  background-color: #202020;
  color: #fff;
}

h1 {
  color: #bada55;
}

p {
  border: 2px #fff solid;
}

span {
  text-decoration: underline;
}

li {
  background-color: rgba(0, 50, 200, 0.6);
  border: 2px dashed #;
}

#feed {
  color: #ff3030;
}

#fd {
  color: #ff3030;
}

.make {
  color: #00ff00;
}

.mk {
  color: #00ff00;
}
